/* ./styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .frc {
    @apply flex flex-row items-center;
  }
  .fcc {
    @apply flex  flex-col items-center;
  }
  .ScaleAnimation{
    @apply hover:scale-105 transition-all duration-75 cursor-pointer 
  }
  .ScaleAnimation110{
    @apply hover:scale-125 transition-all duration-75 cursor-pointer 
  }
}
:root { 
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;  
}

#Roboto{
  font-family: 'Roboto', sans-serif;

}
#RobotoMono{
  font-family: 'Roboto Mono', monospace;
}

#cutomscoll::-webkit-scrollbar {
  width: 6px; 
  
}
#cutomscoll::-webkit-scrollbar-track {
  background:  #40414F;
}

#cutomscoll::-webkit-scrollbar-thumb {
  background:    #5c5f72;
  z-index: 90;
  border-radius: 8px;
  cursor: pointer;
}

#monospace {
  font-family: "Share Tech Mono", monospace;
}


#white-space1{  
  white-space: pre-wrap;
 
}

/* Hide scrollbar for IE, Edge and Firefox */
#scroolbar1-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#scroolbar1-hidden::-webkit-scrollbar {
  display: none;
}